<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('新增发货管理')"/>
    <th:block th:include="include :: datetimepicker-css"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-delivery-add">
        <div class="form-group">
            <label class="col-sm-3 control-label">省份：</label>
            <div class="col-sm-3">
                <input name="region" class="form-control" type="text">
            </div>

            <label class="col-sm-2 control-label">业务员：</label>
            <div class="col-sm-3">
                <input name="saler" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">物流单号：</label>
            <div class="col-sm-3">
                <input name="trackingNumber" class="form-control" type="text">
            </div>
            <label class="col-sm-2 control-label">客户名称：</label>
            <div class="col-sm-3">
                <select id="customer" name="customer" class="form-control">
                    <option th:each="customer:${customers}" th:value="${customer.id}"
                            th:text="${customer.company}"></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">代理人：</label>
            <div class="col-sm-3">
                <input id="agenter" name="agenter" class="form-control" type="text">
            </div>
            <label class="col-sm-2 control-label">收货人：</label>
            <div class="col-sm-3">
                <input id="receiver" name="receiver" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">付款日期：</label>
            <div class="col-sm-8">
                <div class="input-group date">
                    <input name="paymentDate" class="form-control" placeholder="yyyy-MM-dd" type="text">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">物料名称：</label>
            <div class="col-sm-3">
                <select id="material" name="material" class="form-control">
                    <option th:each="material:${materials}" th:value="${material.id}"
                            th:text="${material.name}"></option>
                </select>
            </div>
            <label class="col-sm-2 control-label">规格：</label>
            <div class="col-sm-3">
                <input id="spec" name="spec" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">订单数量：</label>
            <div class="col-sm-8">
                <input id="orderNumber" name="orderNumber" class="form-control" type="text" value="100">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">订单单价：</label>
            <div class="col-sm-2">
                <input id="orderUnitPrice" name="orderUnitPrice" class="form-control" type="text">
            </div>
            <label class="col-sm-1 control-label">元</label>
            <label class="col-sm-2 control-label">订单金额：</label>
            <div class="col-sm-2">
                <input id="orderAmount" name="orderAmount" class="form-control" type="text">
            </div>
            <label class="col-sm-1 control-label">元</label>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">底价：</label>
            <div class="col-sm-2">
                <input id="basePrice" name="basePrice" class="form-control" type="text">
            </div>
            <label class="col-sm-1 control-label">元</label>
            <label class="col-sm-2 control-label">底价金额：</label>
            <div class="col-sm-2">
                <input id="baseAmount" name="baseAmount" class="form-control" type="text">
            </div>
            <label class="col-sm-1 control-label">元</label>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">税率：</label>
            <div class="col-sm-2">
                <input id="taxRate" name="taxRate" class="form-control" type="text" value="0.0">
            </div>
            <label class="col-sm-1 control-label">%</label>
            <label class="col-sm-2 control-label">税金：</label>
            <div class="col-sm-2">
                <input id="taxAmount" name="taxAmount" class="form-control" type="text">
            </div>
            <label class="col-sm-1 control-label">元</label>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">差额：</label>
            <div class="col-sm-2">
                <input id="diffAmount" name="diffAmount" class="form-control" type="text">
            </div>
            <label class="col-sm-1 control-label">元</label>
            <label class="col-sm-2 control-label">返款金额：</label>
            <div class="col-sm-2">
                <input id="refundAmount" name="refundAmount" class="form-control" type="text">
            </div>
            <label class="col-sm-1 control-label">元</label>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">发票：</label>
            <div class="col-sm-2">
                <div class="checkbox check-box">
                    <input type="hidden" name="invoiceProvide" value="1"> <!-- 隐藏的 input 元素，初始值为 0 -->
                    <input type="checkbox" name="invoiceProvide_checkbox" id="invoiceProvide" value="1" checked/>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">返款申请日期：</label>
            <div class="col-sm-8">
                <div class="input-group date">
                    <input name="refundRequestDate" class="form-control" placeholder="yyyy-MM-dd" type="text">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">返款发工厂日期：</label>
            <div class="col-sm-8">
                <div class="input-group date">
                    <input name="refundToFactoryDate" class="form-control" placeholder="yyyy-MM-dd" type="text">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">返款日期：</label>
            <div class="col-sm-8">
                <div class="input-group date">
                    <input name="refundDate" class="form-control" placeholder="yyyy-MM-dd" type="text">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">批号：</label>
            <div class="col-sm-3">
                <input name="batchNumber" class="form-control" type="text">
            </div>
            <label class="col-sm-2 control-label">箱号：</label>
            <div class="col-sm-3">
                <input name="boxNumber" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">生产日期：</label>
            <div class="col-sm-3">
                <div class="input-group date">
                    <input name="productionDate" class="form-control" placeholder="yyyy-MM-dd" type="text">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
            </div>
            <label class="col-sm-2 control-label">有效期：</label>
            <div class="col-sm-3">
                <div class="input-group date">
                    <input name="expirationDate" class="form-control" placeholder="yyyy-MM-dd" type="text">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">备注：</label>
            <div class="col-sm-8">
                <input name="remark" class="form-control" type="text">
            </div>
        </div>
    </form>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: datetimepicker-js"/>
<script th:inline="javascript">
    var prefix = ctx + "erp/delivery"

    var specs = [[${@dict.getType('m_spec')}]];
    $("#form-delivery-add").validate({
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/add", $('#form-delivery-add').serialize());
        }
    }

    $("input[name='paymentDate']").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        autoclose: true
    });

    $("input[name='refundRequestDate']").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        autoclose: true
    });

    $("input[name='refundToFactoryDate']").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        autoclose: true
    });

    $("input[name='refundDate']").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        autoclose: true
    });

    $("input[name='productionDate']").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        autoclose: true
    });

    $("input[name='expirationDate']").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        autoclose: true
    });

    // 获取物料选择框和规格输入框的元素
    var materials = [[${materials}]];
    var customers = [[${customers}]];
    var specs = [[${@dict.getType('m_spec')}]];

    // 在初始化时也执行一次，获取初始物料的规格值
    $(document).ready(function () {
        selectedMaterial();
        selectedCustomer();
    });
    //监听开票选择事件
    $("#invoiceProvide").change(function () {
        if (this.checked) {
            $("input[name='invoiceProvide']").val(1);  // 勾选时值为 1
        } else {
            $("input[name='invoiceProvide']").val(0); // 不勾选时值为 0
        }
    });

    $("#orderNumber").on("input", orderAmountResult);
    $("#orderUnitPrice").on("input", orderAmountResult);
    $("#orderNumber").on("input", baseAmountResult);
    $("#basePrice").on("input", baseAmountResult);
    $("#taxRate").on("input", taxAmountResult);
    $("#orderAmount").change(diffAmountResult);
    $("#baseAmount").change(diffAmountResult);
    $("#diffAmount").change(refundAmountResult);
    $("#taxAmount").change(refundAmountResult);
    $("#customer").change(selectedCustomer);
    $("#material").change(selectedMaterial);
    //计算订单金额
    function orderAmountResult() {
        // 获取输入框1和输入框2的值
        var value1 = parseFloat($("#orderNumber").val()) || 0; // 转换为浮点数，如果无法转换，则默认为 0
        var value2 = parseFloat($("#orderUnitPrice").val()) || 0;
        // 计算结果并赋值给结果输入框
        var result = value1 * value2;
        $("#orderAmount").val(result.toFixed(2));
        diffAmountResult();
    }

    //计算底价金额
    function baseAmountResult() {
        // 获取输入框1和输入框2的值
        var value1 = parseFloat($("#orderNumber").val()) || 0; // 转换为浮点数，如果无法转换，则默认为 0
        var value2 = parseFloat($("#basePrice").val()) || 0;
        // 计算结果并赋值给结果输入框
        var result = value1 * value2;
        $("#baseAmount").val(result.toFixed(2));
        diffAmountResult();
    }

    //计算差额
    function diffAmountResult() {
        // 获取输入框1和输入框2的值
        var value1 = parseFloat($("#orderAmount").val()) || 0; // 转换为浮点数，如果无法转换，则默认为 0
        var value2 = parseFloat($("#baseAmount").val()) || 0;
        // 计算结果并赋值给结果输入框
        var result = value1 - value2;
        $("#diffAmount").val(result.toFixed(2));
        taxAmountResult();
        refundAmountResult();
    }

    //计算税额
    function taxAmountResult() {
        // 获取输入框1和输入框2的值
        var value1 = parseFloat($("#diffAmount").val()) || 0; // 转换为浮点数，如果无法转换，则默认为 0
        var value2 = parseFloat($("#taxRate").val()) / 100 || 0;
        // 计算结果并赋值给结果输入框
        var result = value1 * value2;
        $("#taxAmount").val(result.toFixed(2));
        refundAmountResult();
    }

    //计算返款
    function refundAmountResult() {
        // 获取输入框1和输入框2的值
        var value1 = parseFloat($("#diffAmount").val()) || 0; // 转换为浮点数，如果无法转换，则默认为 0
        var value2 = parseFloat($("#taxAmount").val()) || 0;
        // 计算结果并赋值给结果输入框
        var result = value1 - value2;
        $("#refundAmount").val(result.toFixed(2));
    }

    // 监听客户选择事件改变代理人和收货人
    function selectedCustomer() {
        var selectedCustomer = customers.find(function (customer) {
            return customer.id == $("#customer").val();
        });
        $("#agenter").val(selectedCustomer.agenter);
        $("#receiver").val(selectedCustomer.receiver);
    }
    // 监听物料选择框的变化事件
    function selectedMaterial() {
        var selectedMaterial = materials.find(function (material) {
            return material.id == $("#material").val();
        });
        if (selectedMaterial !== undefined && selectedMaterial.spec !== undefined) {
            var spec = specs.find(function (spec) {
                return spec.dictValue === selectedMaterial.spec;
            });
            $("#spec").val(spec.dictLabel);
            $("#orderUnitPrice").val(selectedMaterial.unitPrice);
            $("#basePrice").val(selectedMaterial.basePrice);
            orderAmountResult();
            baseAmountResult();
        }
    }
</script>
</body>
</html>
