<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('发货管理列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>省份：</label>
                                <input type="text" name="region"/>
                            </li>
                            <li>
                                <label>业务员：</label>
                                <input type="text" name="saler"/>
                            </li>
                            <li>
                                <label>代理人：</label>
                                <input type="text" name="agenter"/>
                            </li>
                            <li>
                                <label>收货人：</label>
                                <input type="text" name="receiver"/>
                            </li>
                            <li>
                                <label>物流单号：</label>
                                <input type="text" name="trackingNumber"/>
                            </li>
                            <li>
                                <label>客户名称：</label>
                                <input type="text" name="customer"/>
                            </li>

                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="erp:delivery:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="erp:delivery:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="erp:delivery:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="erp:delivery:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('erp:delivery:edit')}]];
        var removeFlag = [[${@permission.hasPermi('erp:delivery:remove')}]];
        var prefix = ctx + "erp/delivery";
        var materials = [[${materials}]];
        var specs = [[${@dict.getType('m_spec')}]];
        var provideDics = [[${@dict.getType('invoice_provide')}]];
        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "发货管理",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: '主键',
                    visible: false
                },
                {
                    field: 'region',
                    title: '省份'
                },
                {
                    field: 'saler',
                    title: '业务员'
                },
                {
                    field: 'agenter',
                    title: '代理人'
                },
                {
                    field: 'receiver',
                    title: '收货人'
                },
                {
                    field: 'trackingNumber',
                    title: '物流单号',
                    visible: false
                },
                {
                    field: 'customer',
                    title: '客户名称'
                },
                {
                    field: 'paymentDate',
                    title: '付款日期'
                },
                {
                    field: 'material',
                    title: '物料名称',
                    formatter: function(value, row, index) {
                        console.log(materials);
                        return $.table.selectMatrialName(materials, value);
                    }
                },
                {
                    field: 'spec',
                    title: '规格',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(specs, value);
                    }
                },
                {
                    field: 'orderNumber',
                    title: '订单数量'
                },
                {
                    field: 'orderUnitPrice',
                    title: '订单单价',
                    visible: false
                },
                {
                    field: 'orderAmount',
                    title: '订单金额',
                    visible: false
                },
                {
                    field: 'basePrice',
                    title: '底价',
                    visible: false
                },
                {
                    field: 'baseAmount',
                    title: '底价金额',
                    visible: false
                },
                {
                    field: 'taxRate',
                    title: '税率',
                    visible: false
                },
                {
                    field: 'taxAmount',
                    title: '税金',
                    visible: false
                },
                {
                    field: 'diffAmount',
                    title: '差额',
                    visible: false
                },
                {
                    field: 'refundAmount',
                    title: '返款金额',
                    visible: false
                },
                {
                    field: 'invoiceProvide',
                    title: '发票',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(provideDics, value);
                    }
                },
                {
                    field: 'refundRequestDate',
                    title: '返款申请日期'
                },
                {
                    field: 'refundToFactoryDate',
                    title: '返款发工厂日期'
                },
                {
                    field: 'refundDate',
                    title: '返款日期'
                },
                {
                    field: 'batchNumber',
                    title: '批号'
                },
                {
                    field: 'productionDate',
                    title: '生产日期'
                },
                {
                    field: 'expirationDate',
                    title: '有效期'
                },
                {
                    field: 'boxNumber',
                    title: '箱号'
                },
                {
                    field: 'remark',
                    title: '备注',
                    visible: false
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>
